<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.geekband.Test01"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ListViewDemoActivity">

        </activity>

        <activity
            android:name=".TestViewButtonActivity">
        </activity>

        <activity
            android:name=".TestFragmentActivity">
        </activity>
        <activity
            android:name=".HandleButtonActivity">
        </activity>

        <activity android:name=".DatabaseButtonActivity">
        </activity>

        <activity android:name=".NetworkActivity">

        </activity>

        <receiver android:name=".TestWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@layout/widget_setting">

            </meta-data>
        </receiver>

    </application>

</manifest>
